@import "tailwindcss";
body {
  background-color: rgb(35, 35, 35);
  border-color: white;
  color: white;
}

.button,
button:hover {
  border: solid;
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
}

input,
select {
  border: solid;
}
