@import "tailwindcss";

body {
  background-color: rgb(35, 35, 35);
  border-color: white;
  color: white;
}

button:hover,
.button:hover {
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-x-center {
  justify-content: center;
}

.flex-y-center {
  align-items: center;
}

.flex-xy-center {
  justify-content: center;
  align-items: center;
}

select {
  border: solid white;
}

table,
thead > tr {
  border: 1px solid white;
}
